<!DOCTYPE html>
<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
      <title> {% block title %}  Search Initiative  {% endblock %}</title>

      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"> </script>
      <link rel="stylesheet" href="{{STATIC_URL}}css/menuStyle.css" type="text/css" media="screen, projection"/>
      <script type="text/javascript" src="{{STATIC_URL}}js/jquery.dropdownPlain.js"></script>
      
      {% block head %}
      {% endblock %}

   </head>
   <body>
      <!--[if lte IE 6]><script src="{{STATIC_URL}}ie6/warning.js"></script><script>window.onload=function(){e("{{STATIC_URL}}ie6/")}</script><![endif]-->
      <div id="title-image" style="text-align:center">
         <img src="{{ STATIC_URL }}img/header.png" alt="Search Initiative coming soon">
      </div>
      <br>
      <br>

      {% include "menu.html" %}
         
      <br>
      <br>
      <br>
      <br>
      <div id="content">
         {% block content %} {% endblock %}
      </div>
   </body>
</html>
