<div class="dropdown">
   <ul>
      <li><a href="/news">News</a></li>
      <li><a href="/articles">Guides</a>
      <ul>
         {% for tag in top5tags %}
         <li> <a href="{{tag.get_absolute_url}}"> {{ tag.name }} </a> </li>
         {% endfor %}
      </ul>
      </li>
      {% if not user.is_authenticated %}
      <li><a href="/accounts/login">Login</a></li>
      <li><a href="/accounts/register">Register</a></li>
      {% else %}
      <li><a href="/articles/create">Create a new guide</a></li>
      <li><a href="/articles/newtag">Create a new tag</a></li>
      <li><a href="/accounts/logout">Logout</a></li>
      {% endif %}
   </ul>
</div>
