{% extends "base.html" %}
{% load xsscheck %}

{% block content %}
Hello I have a name of {{article.name}}
<br>
<br>
<br>
{{article.text|xsscheck}}
<br>
<br>
<br>

I am now displaying comments
<br>
<br>
<br>

{% if user.is_authenticated %}
<form id="commentForm" method="post" action="">
{% csrf_token %}
{{form.as_p}}
<input type="submit" value="add" />
</form>
{% endif %}

{% for comment in comments %}
<p>
{{ comment.text }}
<br>
Written by {{comment.author.username}}
</p>
{% endfor %}


{% include "ajaxCode.html" %}
<script type="text/javascript">
   function funajax(data)
   {
      if (!data.error)
         $('#content').append('<p>' + data.comment + '<br>Written by '+data.author+ '</p>');
   }

   $(document).ready(function ()
   {
      $('#commentForm').submit(function ()
      {
         var sendData = $('#commentForm textarea').serialize();
         $.post("/articles/submitComment/{{article.pk}}/",sendData,funajax,"json");
         return false;
      });
   });
</script>



{% endblock %}
